body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #333;
}

div {
    background-color: #ffffff;
}

#connection_status_container {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(51, 51, 51, 0.5);
    color: white;
    padding: 10px;
    border-radius: 0 10px 0 0;
    & > * {
        display: block;
    }
}

#connection_status_container svg {
    width: 100px;
    height: 100px;
}

#connection_status_container.status-ok {
    display: none;
    & > * {
        display: none;
    }
}

#connection_status_container.status-error {
    display: flex;
}

div#toast {
    position: fixed;
    top: auto;
    bottom: 0;
    z-index: 1; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: #4CAF50; 
    color: white; 
    padding: 16px; 
    border-radius: 4px;
    animation: fadeOut 2s forwards;
    pointer-events: none;
    z-index: 10;
}

div#toast.show {
    visibility: visible;
    animation: fadeInSlideUp 1s forwards;
}

div#alert_frame {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: 30px solid #00fe00;
    background-color: transparent;
    box-sizing: border-box;
    pointer-events: none;
}

div.hidden {
    display: none;
    margin: 0;
    padding: 0;
    height: 0;
    width: 0;
}

.hidden {
    display: none;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
    
}

@keyframes fadeInSlideUp {
    0% {
        transform: translate(-50%, 100%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes fadeOutSlideDown {
    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, 100%);
        opacity: 0;
    }
}