#data files
*.csv
*.db

#images
*.jpg
*.png
*.ico
*.svg

#logs
*.log

#config files
*.config

#os stuff
.DS_Store
Thumbs.db
html/.DS_Store
scripts/.DS_Store
img/.DS_Store

#favicon setting files
browserconfig.xml
*.webmanifest
